body {
  background-color: aliceblue;
}
li {
  list-style: none;
  border: 1px solid grey;
  border-radius: 4px;
  display: block;
  height: 40px;
}
h3 {
  text-align: center;
}
.form_button {
  width: 97%;
  padding-top: 20px;
  margin-left: 35px;
  margin-top: 30px;
}
.form_button1 {
  width: 97%;
  padding-top: 20px;
  margin-left: 35px;
  margin-top: 30px;
  border: 2px solid red;
}
button {
  margin-top: 20px;
  margin-left: 35px;
}
.badge {
  float: right;
  color: aqua;
}
